<!DOCTYPE html>
    <html lang="en">
        <head>
            <title>learn vue</title>
            <meta content="text/html" charset="utf-8" />
            <link href="main.css" rel="stylesheet">
            <script src="https://cdn.jsdelivr.net/npm/smooth-scroll@12.1.5"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        </head> 
        <body>
            
            <div id='app'>
                <input v-model="message">
                <h1 v-cloak>{{ message }}</h1>
                <ol>
                    <li v-for="item in list">{{ item }}</li>
                </ol>
                <button v-on:click="hand">Click</button>

                <button v-on:click="show1=!show1">切り替え</button>
                <p v-if="show1">Hello Vue.js!</p>

                <button v-on:click="show2=!show2">切り替え</button>
                <transition>
                    <p v-if="show2">Hello Vue.js!</p>
                </transition>

                <!-- countプロパティを表示する -->
                <p>{{ count }}回クリックしたよ！ </p>
                <!-- このボタンをクリックするとincrementメソッドが呼び出される -->
                <button v-on:click="increment">カウントを増やす</button>

                <button v-on:click="isActive=!isActive">isActiveを切り替える</button>
                <p v-bind:class="{ child: isChild, 'is-active': isActive }" class="item">
                    動的なクラス
                </p>
                <p v-bind:style="{ color: textColor, backgroundColor: bgColor }" class="item">
                    動的なスタイル
                </p>

                <div id="app">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                        <circle cx="100" cy="75" v-bind:r="radius" fill="lightpink" />
                    </svg>
                    <input type="range" min="0" max="100" v-model="radius">
                </div>


                名前
                <input v-model="name">
                <button v-on:click="doAdd">モンスターを追加</button>
                <ul>
                    <li v-for="(item,index) in monsters"
                        v-bind:key="item.id"
                        v-bind:class="{ tuyoi: item.hp > 300 }"
                        v-if="item.hp">
                        ID.{{ item.id }} {{ item.name }} HP.{{ item.hp }}
                        <span v-if="item.hp > 300">つよい！</span>
                        <span v-if="item.hp < 50">瀕死！</span>
                        <!-- ボタンはv-for内に作成 -->
                        <button v-on:click="doAttack(index)">攻撃する</button>
                        <!-- 削除ボタンをv-for内に作成 -->
                        <button v-on:click="doRemove(index)">モンスターを削除</button>
                    </li>
                </ul>

                <button v-on:click="handleCount">カウントアップ</button>
                <button v-on:click="show4=!show4">表示/非表示</button>
                <span ref="count2" v-if="show4">0</span>

                <input v-bind:value="message" v-on:change="handleInput">

                <div v-on:click.right="handler">example</div>
                <!-- 右ボタンを押した時のコンテキストメニューを表示させない -->
                <div v-on:click.right.prevent="handler">example</div>
                
                <label>
                    <input type="checkbox" v-model="val"> {{ val }}
                </label>

                <label><input type="checkbox" v-model="val1" value="A"> A</label>
                <label><input type="checkbox" v-model="val1" value="B"> B</label>
                <label><input type="checkbox" v-model="val1" value="C"> C</label>
                <p>{{ val1 }}</p>

                <label><input type="radio" value="a" v-model="val2"> A</label>
                <label><input type="radio" value="b" v-model="val2"> B</label>
                <label><input type="radio" value="c" v-model="val2"> C</label>
                <p>{{ val2 }}</p>

                <input type="file" v-on:change="handleChange">
                <div v-if="preview"><img v-bind:src="preview"></div>


                <div class="content">...</div>
                <div v-on:click="scrollTop">
                    ページ上部へ移動
                </div>

                vue以外からの入力に対して
                <input id="mes" v-on:input="handleInput2">
                <button data-update="jQuery!">jQueryからの更新</button>

            </div>


            
            <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13"></script>
            <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
            <script src="main.js"></script>


        </body>
    </html>